:root {
  font-size: 16px;
  --font-color: #fff;
  --aux-color: #f9d303;
}

@font-face {
  font-family: 'Walkway black';
  src: url('../../assets/fonts/Walkway/Walkway_Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Walkway semibold';
  src: url('../../assets/fonts/Walkway/Walkway_SemiBold.ttf') format('truetype');
}

.header__outer-wrapper {
  background: #000000;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__title {
  color: var(--font-color);
  position: relative;
  font-size: 40px;
  font-family: 'Walkway black', Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  display: inline;
  margin-right: 50px;
}

.header__title::after {
  content: '';
  background-image: url('../../assets/dot.svg');
  position: absolute;
  top: 75%;
  right: -110;
  transform: translate(50%, -50%);
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
}


.header__link {
  background: none;
  border: none;
  color: var(--font-color);
  padding: 0;
  margin: 0;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Walkway black', Arial, Helvetica, sans-serif;
  margin-right: 40px;
  padding: 10px;
  position: relative;
}


/*left white links*/

.header__link::before{
  content:'';
  position:absolute;
  left:0px;
  background-image: url('../../assets/images/highlighter.png');
  background-repeat:no-repeat;
  background-position:40% 10%;
  height:100px;
  width:160px;
  background-size:contain;
  z-index:2;
  transition: opacity 0.3s ease-in-out; /* Apply transition to the opacity property */
  opacity: 0; /* Change opacity to 1 on hover */

}

.header__link:hover::before{
  opacity:1;
}

/*right yellow links*/

.header__link-yellow::before{
  content:'';
  position:absolute;
  left:0px;
  background-image: url('../../assets/images/highlighter-yellow.png');
  background-repeat:no-repeat;
  background-position:40% 10%;
  height:100px;
  width:160px;
  background-size:contain;
  z-index:2;
  transition: opacity 0.3s ease-in-out; /* Apply transition to the opacity property */
  opacity: 0; /* Change opacity to 1 on hover */

}

.header__link-yellow:hover::before{
  opacity:1;
}




.header__link-auth{
  color:var(--aux-color)
}
.header__link-auth::before{
  content:'';
  left:-10px;
  position:absolute;
width:120px;
}

.header__link-cart{
  color:var(--aux-color)
}

.header__link-cart::after{
  content:'';
  position:absolute;
  top:10px;
right:-20px;
  background-image: url('../../assets/images/cart.svg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
  width:30px;
  height:30px;
  
}

.header__link-cart::before{
  content:'';
  position:absolute;
  top:0px;
  left:-4px;
width:160px;
}



.header__right-wrapper {
  position: relative;
}

.header__search {
  margin-right: 20px;
  position: absolute;
  top: 13px;
  left: -50px;
}

