html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --background-color: #f6f6f6;
  --button-bg: black;
  --button-text-color: white;
  --dark-grey: #1b1b1b;
  --light-grey: #908a8a;
  --lightest-grey: #c5bcbc;
}
.card__wrapper {
  border: 1px solid #000;
  width: 260px;
  height: 350px;
  background: var(--background-color);
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.card__span-wrapper {
  // border: 1px solid #000;
  height: 9px;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
.card__indicator {
  width: 65px;
  height: 350px;
  background-color: rgba(144, 138, 138, 0);
  opacity: 0;
  position: relative;

  opacity: 1;

  &::before {
    height: 4px;
    width: 60px;
    content: '';
    background-color: var(--lightest-grey);
    position: absolute;
    top: 0px;
    left: 2px;
  }

  &:hover::before {
    opacity: 1;
    background-color: var(--dark-grey);
  }
}

.card__image-first {
  width: 200px;
  height: 200px;
  margin-left: 15px;
}

.card__promotion {
  background: var(--button-bg);
  color: var(--aux-color); //var declared in Header.scss
  width: 65px;
  height: 28px;
  padding: 2px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
}

.card__ad {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.card__discount {
  position: absolute;
  bottom: 40px;
  right: 0px;
}

.card__heart {
  background-image: url('../../assets/images/heart.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
  right: 5px;
}

.card__heart-red {
  background-image: url('../../assets/images/heart-red.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 7px;
  right: 5px;
}

.card__description {
  font-size: 12px;
  width: 180px;
  margin-bottom: 5px;
}

.card__price {
  font-family: 'roboto light';
  font-size: 32px;
  font-weight: 300;
  margin-top: -5px;
}
