.shoelist__container {
  margin-left: 360px;
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
}
.shoelist__spinner {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.shoelist {
  margin-bottom: 100px;
  @media (min-width: 1px) and (max-width: 630px) {
    margin-left: -320px;
  }
}
