.create-shoes__form {
  display: flex;
  flex-direction: column;
}

.create-shoes__image {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}
.create-shoes__image-container {
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
}

.create-shoes__image-wrapper {
  position: relative;
}

.create-shoes__image {
  width: 150px; /* Adjust the width of the images as needed */
  height: 150px; /* Adjust the height of the images as needed */
  object-fit: cover;
}
